@inherits LayoutComponentBase

@*    <AuthorizeView>
        <Authorized>
            
                <NavMenu></NavMenu>
   
            
        </Authorized>
</AuthorizeView>*@

<Layout>

        
 
    <LayoutContent>
           <AuthorizeView>
        <Authorized>
            
                <NavMenu></NavMenu>
   
            
        </Authorized>
</AuthorizeView>
       <main role="main" class="container mt-4">
        @Body
        <div id="blazor-error-ui">
            <div class="alert alert-danger alert-dismissible fade show" style="" role="alert">
                <strong>Error:</strong>

                <environment include="Staging,Production">
                    An error has occurred. This application may no longer respond until reloaded.
                </environment>
                <environment include="Development">
                    An unhandled exception has occurred. See browser dev tools for details.
                </environment>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </div>


</main>
    </LayoutContent>
    <LayoutFooter Fixed>
        <div class="container text-center">
              <p>Copyright Placeholder © 2022</p>
         </div>
    </LayoutFooter>
</Layout>

@*
<body class="d-flex flex-column">
  <div id="page-content">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h1 class="fw-light mt-4 text-white">Sticky Footer using Flexbox</h1>
          <p class="lead text-white-50">Use just two Bootstrap utility classes and three custom CSS rules and you will have a flexbox enabled sticky footer for your website!</p>
        </div>
      </div>
    </div>
  </div>
  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>
</body>

*@

<style>

    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1440px !important;
    }
    #page-content {
      flex: 1 0 auto;
    }

</style>

