<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #f16200 !important">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/Images/call-customer-service-phone-smartphone-svgrepo-com.svg" style="margin-right:10px !important" height="60" alt="">khalikov App
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 <li class="nav-item">
                        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                            Home Page
                        </NavLink>
                    </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/customers" Match="NavLinkMatch.All">
                       Customers
                    </NavLink>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Additional Pages
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/representatives" Match="NavLinkMatch.All">
                            Customer Reps
                        </NavLink>
                    </li>

                  </ul>
                </li>
                @*<li class="nav-item">
                     <LoginDisplay />
                </li>*@
            </ul>
            <form class="d-flex">
                
                 <LoginDisplay />
              </form>
        </div>
    </div>
</nav>


